In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [11]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'} 
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [13]:
soup=BeautifulSoup(webpage,'lxml')

In [46]:
company=soup.find_all('div',class_='companyCardWrapper__primaryInformation')

In [48]:
len(company)

20

In [100]:
name=[]
rating=[]
reviews=[]
ctype=[]
for i in company:
   name.append(i.find('h2').text.strip())
   rating.append(i.find('div',class_='rating_star_container').text.strip())
   reviews.append(i.find('span',class_='companyCardWrapper__companyRatingCount').text.strip())
   ctype.append(i.find_all('span',class_='companyCardWrapper__interLinking')[0].text.strip())

d={'name':name,'rating':rating,'reviews':reviews,'Type':ctype}
df=pd.DataFrame(d)
df

,name,rating,reviews,Type
0,TCS,3.5,(1L),IT Services & Consulting | Bangalore / Bengalu...
1,Accenture,3.7,(66.7k),IT Services & Consulting | Bangalore / Bengalu...
2,Wipro,3.7,(59.8k),IT Services & Consulting | Bangalore / Bengalu...
3,Cognizant,3.7,(56.8k),IT Services & Consulting | Hyderabad / Secunde...
4,Capgemini,3.7,(48.6k),IT Services & Consulting | Bangalore / Bengalu...
5,HDFC Bank,3.8,(46.4k),Banking | Mumbai +1743 other locations
6,Infosys,3.5,(44.8k),IT Services & Consulting | Bangalore / Bengalu...
7,ICICI Bank,4.0,(42.6k),Banking | Mumbai +1397 other locations
8,HCLTech,3.4,(41.7k),IT Services & Consulting | Chennai +220 other ...
9,Tech Mahindra,3.4,(39.9k),IT Services & Consulting | Hyderabad / Secunde...
10,Genpact,3.7,(38k),IT Services & Consulting | Hyderabad / Secunde...
11,Teleperformance,3.9,(34.1k),BPO | Mumbai +244 other locations
12,Axis Bank,3.7,(29.9k),Banking | Mumbai +1463 other locations
13,Concentrix Corporation,3.6,(29.7k),BPO | Bangalore / Bengaluru +169 other locations
14,Amazon,4.0,(28.7k),Internet | Bangalore / Bengaluru +504 other lo...
15,Jio,4.3,(28.7k),Telecom | Mumbai +1749 other locations
16,iEnergizer,4.7,(26.4k),BPO | Noida +47 other locations
17,Reliance Retail,3.9,(25.3k),Retail | Mumbai +1114 other locations
18,IBM,3.9,(24.3k),IT Services & Consulting | Bangalore / Bengalu...
19,LTIMindtree,3.7,(23.7k),IT Services & Consulting | Bangalore / Bengalu...

In [ ]:
final=pd.DataFrame()
for j in range(1,50):
    url='https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'} 
    webpage=requests.get(url,headers=headers).text
    soup=BeautifulSoup(webpage,'lxml')
    company=soup.find_all('div',class_='companyCardWrapper__primaryInformation')

    name=[]
    rating=[]
    reviews=[]
    ctype=[]
    all_data = [] 
    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('div',class_='rating_star_container').text.strip())
        reviews.append(i.find('span',class_='companyCardWrapper__companyRatingCount').text.strip())
        ctype.append(i.find_all('span',class_='companyCardWrapper__interLinking')[0].text.strip())

    d={'name':name,'rating':rating,'reviews':reviews,'Type':ctype}
    df=pd.DataFrame(d)
    all_data.append(df)
    final = pd.concat(all_data, ignore_index=True)

In [ ]:
print(final.to_string())

In [94]:
company[0].find_all('span',class_='companyCardWrapper__interLinking')[0].text.strip()

<span class="companyCardWrapper__interLinking">
								IT Services &amp; Consulting | Bangalore / Bengaluru +420 other locations
							</span>